<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top">
  <ul class="login">          
    <li>&nbsp&nbsp+49 (0)721 7880 8533&nbsp&nbsp | <a href="mailto:info@lengoo.de">info@lengoo.de</a></li>
    <li><%= link_to "Participants", participants_path %></li>
  </ul>
  <div class="navbar-inner">
    <div class="row-fluid">
      <div class="span8 offset2">
        <%= link_to image_tag("logo2.png", class: "logo"), root_path%>
      </div>
    </div>
    
  </div>
</div>

<!-- Begin page content -->

<!-- Headline -->
